.backgorund {background-color: orangered;
    color: white;
    text-align: center;
    padding: 1px;
    width: 350px;
    }
.tdmain {
    color: blue;
    text-align: right;}
.hobby {color: orange;}
.DKHV {background-color: lightseagreen;
    color: blue;
    text-align: center;
    padding: 1px;
    width: 350px;}
.wufoo {font-family: Arial}
.taokhung {border: 1px solid black;
width: 350px;
padding: 5px;}
